<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="clubCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\a_you\OneDrive\Desktop\OOP\ASSIGNMENT\ASSIGNMENT\ASSIGNMENT\clubDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Assignment.Properties.Settings.clubDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\a_you\OneDrive\Desktop\OOP\ASSIGNMENT\ASSIGNMENT\ASSIGNMENT\clubDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>